---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{page.city_name}}</li>
    </ol>
</nav>

{% assign projects = site.projects | where:'city_short', page.city_short %}

<div class="row mt-4">
    <div class="col-12">
        <h2 class="display-4">{{page.city_name}}</h2>
        {{ content }}
        <h2 class="mt-5 display-6">The Works</h2>
    </div>
</div>

<div class="row">
    {% for project in projects %}
        {% include card.html 
            name = project.project_name
            thumb = project.project_thumb
            url = project.url
            cardsize = "col-lg-4 col-sm-6" %}
    {% endfor %}
</div>