---
layout: default
---
<div class="row">
  <div class="col-12 mt-5 mb-5 d-flex align-items-center">
    <img src="/assets/images/sooc_logo.png" height="96" class="me-4">
    <span class="display-3">{{ site.title }}</span>
  </div>
</div>
    
<div class="row">
  <div class="col-12">
      {{ content }}
  </div>
</div>

<div class="row mt-5">
    {% for city in site.cities %}
        {% include card.html 
            name=city.city_name 
            thumb = city.city_thumb 
            url = city.url 
            cardsize = "col-md-6" %}
    {% endfor %}
</div>